@keyframes h1 {
  0% {margin-right: 90%;}
  
}

h1 {
  font-size: 500%;
  text-align: center;
  font-family: Jost;
  display: inline-block;
}

h2 {
  font-size: 300%;
  font-family: Jost;
  text-align: center;
  display: inline-block;
}
