@keyframes sprint {
  0% {margin-right: 50%; padding-left: 0%;}
  100% {margin-left: 50%; }
}

h1 {
  font-size: 500%;
  text-align: center;
  font-family: Jost;
  padding-left: 25%;
  padding-right: 20%;
  display: inline-block;
  animation: 3s linear 1s sprint;
}

h2 {
  font-size: 300%;
  font-family: Jost;
  text-align: center;
  display: inline-block;
  animation: 3s linear 10s sprint;
}
